<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-5 col-sm-5">
        <div class="titleHead float-left">SEARCH DOCUMENT</div>
      </div>
      <div class="col-md-7col-lg-7 col-sm-7">
        <button class="btn float-right mat-raised-button" routerLink='/upload-student-info' data-toggle="modal" data-target="#uploadModal"><i class="material-icons mr-2">assignment_turned_in</i>UPLOAD STUDENT INFORMATION</button>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 mt-2">
         <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search By Unique Id">
                    <i class="material-icons search-icons">search</i>
                </div>
            </form>
       </div>
    </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_one"> 
                  <div class="card-header card-header-icon">
                      <p class="mb-4">
                            <span class="year float-right">
                                    <select>
                                        <option value="volvo">2009</option>
                                        <option value="saab">2010</option>
                                        <option value="opel">2011</option>
                                        <option value="audi">2012</option>
                                        <option value="audi">2013</option>
                                        <option value="audi">2014</option>
                                        <option value="audi">2015</option>
                                        <option value="audi">2016</option>
                                        <option value="audi">2017</option>
                                    </select>
                                </span>
                      </p>
                     <!--  <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div> -->
                      <p class="card-title float-right">NUMBER OF STUDENTS</p>
                      <h3 class="cardnum float-right">1255 </h3>
                  </div>
                </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_two">
                  <div class="card-header card-header-success card-header-icon">
                     <!--  <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div> -->
                      <p class="mb-4">
                            <span class="year float-right">
                                    <select>
                                        <option value="volvo">2009</option>
                                        <option value="saab">2010</option>
                                        <option value="opel">2011</option>
                                        <option value="audi">2012</option>
                                        <option value="audi">2013</option>
                                        <option value="audi">2014</option>
                                        <option value="audi">2015</option>
                                        <option value="audi">2016</option>
                                        <option value="audi">2017</option>
                                    </select>
                                </span>
                      </p>
                      <p class="card-title float-right">DOCUMENTS UPLOAD/ISSUED</p>
                      <h3 class="cardnum float-right">852 </h3>
                  </div>
                <!--   <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div> -->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_three">
                  <div class="card-header card-header-danger card-header-icon">
                      <!-- <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div> -->
                      <p class="mb-4">
                            <span class="year float-right">
                                    <select>
                                        <option value="volvo">2009</option>
                                        <option value="saab">2010</option>
                                        <option value="opel">2011</option>
                                        <option value="audi">2012</option>
                                        <option value="audi">2013</option>
                                        <option value="audi">2014</option>
                                        <option value="audi">2015</option>
                                        <option value="audi">2016</option>
                                        <option value="audi">2017</option>
                                    </select>
                                </span>
                      </p>
                      <p class="card-title float-right">DOCUMENT VIEWS</p>
                      <h3 class="cardnum float-right">340 </h3>
                  </div>
                 <!--  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div> -->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats card_four">
                  <div class="card-header card-header-info card-header-icon">
                      <!-- <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div> -->
                      <p class="mb-4">
                            <span class="year float-right">
                                    <select>
                                        <option value="volvo">2009</option>
                                        <option value="saab">2010</option>
                                        <option value="opel">2011</option>
                                        <option value="audi">2012</option>
                                        <option value="audi">2013</option>
                                        <option value="audi">2014</option>
                                        <option value="audi">2015</option>
                                        <option value="audi">2016</option>
                                        <option value="audi">2017</option>
                                    </select>
                                </span>
                      </p>
                      <p class="card-title float-right">DOCUMENT SHARED</p>
                      <h3 class="cardnum float-right">218</h3>
                  </div>
                <!--   <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="titleHead float-left">Issued Document</div>
             <div class="table-responsive">
                          <table class="table">
                              <thead class="">
                                  <th>
                                      S.No.
                                  </th>
                                  <th>
                                      UNIQUE ID
                                  </th>
                                  <th>
                                      UPLOAD DATE
                                  </th>
                                  <th>
                                     PREVIEW
                                  </th>
                                  <th>
                                      SHARE
                                  </th>
                                  <th>
                                    SCAN
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of dashboardData;let i = index">
                                      <td>
                                          {{i+1}}
                                      </td>
                                      <td>
                                        {{item.instid}}           
                                      </td>
                                      <td>
                                         {{item.req_date | date: 'dd/MM/yyyy , HH:mm '}}
                                      </td>
                                    <td>
                                       <a href="javascript:void(0)" data-toggle="modal"  (click)="showpreview(item.instid)"> <img src="assets/img/preview.png" ></a>
                                       
                                      </td>
                                      <td>
                                         <a href="javascript:void(0)" data-toggle="modal" data-target="#shareModal" (click)="showData(item.instid)"> <img src="assets/img/share.png" ></a>
                                      </td>
                                      <td>
                                         <img src="assets/img/qr-code.png" style="height:30px;">
                                      </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                      </div>
        </div>
        
      </div>

  </div>
</div>


<!-- Upload Student Information -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <!--  <div class="modal-header">
            </div> -->
         <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title modalTitle2" id="exampleModalLongTitle">UPLOAD STUDENT INFORMATION</h5>
            <h6 class="modalsubTitle">STUDENT NAME - SUMIT VYAS    |    DOCUMENT TYPE - TRANSCRIPTS    |    COURSE - B.TECH      |    SEMESTER - 2nd    |    YEAR - 2020</h6>
            <hr>
            <div class="table-responsive">
                     <table class="table table-bordered tablenew">
                        <thead class="">
                           <th>
                              DAY & DATE 
                           </th>
                           <th>
                              SUBJECT NAME
                           </th>
                           <th>
                            BRANCH
                           </th>
                           <th>
                              SCORE
                           </th>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                MONDAY, 10/03/2020
                              </td>
                              <td>
                                SUBJECT 1
                              </td>
                              <td>
                                BRANCH 1
                              </td>
                              <td>
                                 58
                              </td>
                           </tr>
                           <tr>
                               <td>
                                MONDAY, 10/03/2020
                              </td>
                              <td>
                                SUBJECT 2
                              </td>
                              <td>
                                BRANCH 2
                              </td>
                              <td>
                                 58
                              </td>
                           </tr>
                           <tr>
                               <td>
                                MONDAY, 10/03/2020
                              </td>
                              <td>
                                SUBJECT 3
                              </td>
                              <td>
                                BRANCH 3
                              </td>
                              <td>
                                 58
                              </td>
                           </tr>
                           <tr>
                               <td>
                                MONDAY, 10/03/2020
                              </td>
                              <td>
                                SUBJECT 4
                              </td>
                              <td>
                                BRANCH 4
                              </td>
                              <td>
                                 58
                              </td>
                           </tr>
                           <tr>
                               <td>
                                MONDAY, 10/03/2020
                              </td>
                              <td>
                                SUBJECT 5
                              </td>
                              <td>
                                BRANCH 5
                              </td>
                              <td>
                                 58
                              </td>
                           </tr>
                           <tr>
                              <td>
                                MONDAY, 10/03/2020
                              </td>
                              <td>
                                SUBJECT 6
                              </td>
                              <td>
                                BRANCH 6
                              </td>
                              <td>
                                 58
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
         </div>
      <!--    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div> -->
      </div>
   </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
         <!--  <div class="modal-header">
            </div> -->
         <div class="modal-body">
            <b> Share in email Id : -</b>       
            <form>
            <div class="row mb-2">
                 
                  <div class="col-md-6">
                     <mat-form-field>
                        <input matInput placeholder="email id" type="text" [(ngModel)]="emailId"
                           autocomplete="nope" [ngModelOptions]="{standalone: true}">                        
                     </mat-form-field>
                  </div>
               </div>
           <br>
             <div class="row mb-2 mt-4">
                  <div class="col-md-12 text-center">
                     <button type="submit" class="btn btn-primary" (click)="sendEmail()">Submit</button>
                  </div>
               </div>
       </form>
         <a routerLink="/studentInfo"  target="_blank">demo.blockcube.co/edublocks/studentInfo</a>
         </div>
      <!--    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div> -->
      </div>
   </div>
</div>